@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffff;
}
.container{
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    background-color: #ffff;
}
#heading{
    text-align: center;
}
#heading h1 {
    font-size: 45px;
    color: #5f6368;
    font-weight: 900;
}
#icon i{
    font-size: 45px;
    color: #5f6368;
}
#subtitle{
    margin-bottom: 35px;
    color: #ccc;
}
label{
  display:block; 
  margin-bottom: 20px; 
}
.form-control{
    width: 500px;
    padding: .5rem .8rem;
    font-size: 15px;
    line-height: 1.8;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ccc;
}
#error{
    color: #dc3545;
    margin-right:300px; 
}
#error-span{
    padding-left: 100px;
}
.list {
    display: block;
    width: 520px;
    margin: 20px auto 0px;
    background-color: #fff;
    padding: 0px 10px 10px 10px;
    border-radius: 10px
}
.list li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

#items .complete {
    cursor: pointer;
    list-style: none;
    float: left;
    margin-right:20px;
}
#items .completed{
    text-decoration: line-through;
}
.notCompleted{
    text-decoration: none;
}
li{
    text-decoration:none;
}
#items .edit {
    cursor: pointer;
    list-style: none;
    float: right;
    margin-right:20px;
}

#items .delete {
    cursor: pointer;
    list-style: none;
    float: right;
    padding-right: 15px;
}
#clear{
    color: red;
    cursor: pointer;
}
@media (max-width:480px) {
    .list {
        padding: 5px;
        display: block;
        justify-content: center;
    }
    .form-control {
        width: 200px;
    }
    #error {
        margin-right: 150px;
    }
    #error-span {
        padding-left: 100px;
    }
}
@media (max-width:768px) {
    .list {
        padding: 8px;
        display: block;
        justify-content: center;
        width: 500px;
    }
    .form-control {
        width: 500px;
    }
    #error {
        margin-right: 150px;
    }
    #error-span {
        padding-left:48px;
    }
}
@media (max-width:1024px) {
    .list {
        padding: 8px;
        display: block;
        justify-content: center;
        width: 350px;
    }

    .form-control {
        width: 350px;
    }
    #error {
        margin-right: 150px;
    }
    #error-span {
        padding-left: 48px;
    }
}
@media (max-width:1200px) {
    .list {
        padding: 8px;
        display: block;
        justify-content: center;
        width: 350px;
    }
    .form-control{
        width: 350px;
    }
    #error {
        margin-right: 150px;
    }
    #error-span {
        padding-left: 48px;
    }
}



